html{
    font-size: 14px;
    font-family: 'Urbanist', sans-serif;
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    color: black;
    box-sizing: border-box;
    padding: 0;
}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li {
    display: inline-block;
    margin-right: 20px;
}
nav a {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
}
nav a:hover {
    color: #ffffff;
}
.navegacion{
    margin-left: auto;
}
.emot1{
    text-align: left;
    font-size: 17px;
    margin-left: 10px;
}
.navegacion1{
    margin-left: auto;
    font-size: 2rem;
    margin-top: 30px;
}
h4{
    text-align: center;
    font-size: 2.5rem;
}
h3{
    font-size: 1.7rem;
    margin-left: 5%;
}
p{
    text-align: justify;
}
.quien{
    margin-left: 5%;
    font-size: 1.4rem;
}
.logo{
    margin-top: 10px;
}
.bandera{
    width: 8%;
    margin-left: 5%;
}
.mapa{
    width: 85%;
    height: 85%;
    margin-top: 10.6%;
    margin-left: 7.5%;
}
header {
    background-color: rgb(215, 89, 89);
    color: #000000;
}
footer{
    background-color: rgb(215, 89, 89);
    color: #000000;
    padding: 5px;
}
.carousel {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.carousel img {
    object-fit: cover;
}
.carousel .slider {
    display: flex;
    transition: transform 2s ease;
}
.carousel .slider img {
    flex: 0 0 33.33%;
}
.carousel .slide-nav {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.carousel .slide-nav button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    background: rgb(216, 76, 76);
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.carousel .slide-nav button.active {
    background: rgb(255, 255, 255);
}
.fot{
    color: black;
    font-size: 1.4rem;
    padding-top: 20px;
}
.fot:hover {
    color: #ffffff;
}
a {
    text-decoration: none;
  }
.marge{
    margin-left: 2.80%;
    font-size: 1.4rem;
}
.column-50{
    width: 50%;
}
.column-50-1{
    width: 50%;
    margin-top: 14px;
}
.column-100{
    width: 100%;
}