<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../css/estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@300&display=swap" rel="stylesheet">
    <script defer src="js/carrusel.js"></script>
    <link rel="icon" href="../../../img/logo.png">
    <title>Contact's</title>
</head>
<header>
    <nav>
        <a href="../en.html"><img src="../../../img/logo.png" width="70%" alt=""></a>
        <ul class="cont-ul">
            <li><a href="../en.html">Who are we?</li>
            <li><a href="Objectives.html">Objectives</a></li>
            <li class="develop">Workshops
                <ul class="ul-second">
                    <li class="back"><a href="taller1.html">Security</li></a>
                    <li class="front"><a href="taller1.html">Introduction</li></a>
                </ul>
            </li>
            <li class="develop">
                Collaborators
                <ul class="ul-second">
                    <li class="back"><a href="colabora1.html">Movistar</li></a>
                    <li class="front"><a href="colabora2.html">Asus</li></a>
                </ul>
            </li>
            <li><a href="preguntas.html">Frequently asked questions</li></a>
        </ul>
    </nav>
</header>
<body>
    <h5>Contact with us</h5>
    <hr>
    <br><br>
    <div class="row">
        <div class="column-33-1">
            <img src="../../../img/iconoUB.png" alt="">
            <p class="icono"><strong>Our NGO</strong></p>
            <p class="icono"><u>Monday - Friday</u></p>
            <p class="icono">9:00-21:00</p>
            <p class="icono"><u>Saturday</u></p>
            <p class="icono">9:00-18:00</p>
        </div>
        <div class="column-33-1">
            <img src="../../../img/iconoMEN.png" alt="">
            <p class="icono"><strong>Messages</strong></p>
            <p class="icono"><u>Monday - Friday</u></p>
            <p class="icono">9:00-21:00</p>
            <p class="icono">650 97 34 82</p>
        </div>
        <div class="column-33-1">
            <img src="../../../img/iconoMOV.png" alt="">
            <p class="icono"><strong>Calls</strong></p>
            <p class="icono"><u>Monday - Friday</u></p>
            <p class="icono">9:00-21:00</p>
            <p class="icono">650 973 482</p>
        </div>
    </div>
    <br>
</body>
<footer>
    <div class="row">
        <div class="column-50">
            <a href="../../../pag/contacta.html"><img src="../../../img/esp.png" class="bandera" alt=""></a>
            <a href="../../../view/cat/pag/contacta.html"><img src="../../../img/cat.png" class="bandera" alt=""></a>
        </div>
        <div class="column-50-1">
            <div class="row">
                <div class="column-50">
                    <a href="../pag/add.html" class="fot">Join us</a>
                </div>
                <div class="column-50">
                    <a href="contacta.html" class="fot">Contact's</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column-100">
            <p class="marge">© 2023 LPM.org. All rights reserved</p>
        </div>
    </div>
</footer>
</html>