<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@300&display=swap" rel="stylesheet">
    <script defer src="js/carrusel.js"></script>
    <link rel="icon" href="../../../img/logo.png">
    <title>Objectives</title>
</head>
<header>
    <div class="row">
        <div class="emot1">
            <a href="../../../view/en/en.html"><img src="../../../img/logo.png" alt="logo" width="70%" class="logo"></a>
        </div>
        <div class="navegacion1">
            <nav>
                <ul>
                    <li><a href=#quien>Who are we?</li></a>
                    <li><a href="../pag/Objectives.html">Objectives</li></a>
                    <li><a href="pag/talleres.html">Workshops</li></a>
                    <li><a href="pag/colabora.html">Collaborate</li></a>
                </ul>
            </nav>
        </div>
    </div>
</header>
<body>
    <div class="row">
        <div class="column-33">
            <h5>Free access to technology</h5>
            <p class="obj">We are dedicated to providing free access to technology and digital education to all people, regardless of financial resources.</p>
            <h5>Educational programs and workshops</h5>
            <p class="obj">We offer a variety of educational programs and workshops aimed at fostering digital literacy and helping people develop their technological skills.</p>
        </div>
        <div class="column-33">
            <img src="../../../img/objetivos.png" class="fotobj" alt="">
        </div>
        <div class="column-33">
            <h5>Additional services and resources</h5>
            <p class="obj">We provide additional services and resources to the community: Books, magazines, free Wi-Fi network services and other technological resources.</p>
            <h5>Commitment to digital inclusion</h5>
            <p class="obj">We are based on using technology and digital education as essential tools to improve people's quality of life.</p>
        </div>
    </div>
</body>
<footer>
    <div class="row">
        <div class="column-50">
            <a href="../../../view/cat/pag/objectius.html"><img src="../../../img/cat.png" class="bandera" alt=""></a>
            <a href="../../../pag/objetivos.html"><img src="../../../img/esp.png" class="bandera" alt=""></a>
        </div>
        <div class="column-50-1">
            <div class="row">
                <div class="column-50">
                    <a href="" class="fot">Join us</a>
                </div>
                <div class="column-50">
                    <a href="../../../view/en/pag/contacta.html" class="fot">Contact us</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column-100">
            <p class="marge">© 2023 LPM.org. All rights reserved</p>
        </div>
    </div>
</footer>
</html>