<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../css/estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@300&display=swap" rel="stylesheet">
    <script defer src="js/carrusel.js"></script>
    <link rel="icon" href="../img/logo.png">
    <title>Objetivos</title>
</head>
<header>
    <nav>
        <a href="../index.html"><img src="../img/logo.png" width="70%" alt=""></a>
        <ul class="cont-ul">
            <li><a href="../index.html"> Quien Somos?</li>
            <li><a href="../pag/objetivos.html">Objetivos</a></li>
            <li class="develop">Talleres
                <ul class="ul-second">
                    <li class="back"><a href="../pag/taller1.html">Seguridad</li></a>
                    <li class="front"><a href="../pag/taller2.html">Introduccion</li></a>
                </ul>
            </li>
            <li class="develop">
                Colaboradores 
                <ul class="ul-second">
                    <li class="back"><a href="../pag/colabora1.html">Movistar</li></a>
                    <li class="front"><a href="../pag/colabora2.html">Asus</li></a>
                </ul>
            </li>
            <li><a href="../pag/preguntas.html">Preguntas frequentes</li></a>
        </ul>
    </nav>
</header>
<body>
    <h5>Preguntas frequentes</h5>
    <hr>
    <div class="row">
        <div class="column-50">
            <h6>¿Qué hace nuestra ONG?</h6>
            <p class="preguntas">Nuestra ONG se dedica a promover la educación y las prestaciones de informática entre comunidades desfavorecidas. Trabajamos para brindar acceso a la educación y las habilidades informáticas necesarias para prosperar en la era digital.</p>
        </div>
        <div class="column-50">
            <h6>¿Cómo puedo colaborar con la ONG?</h6>
            <p class="preguntas">Hay varias formas en las que puedes colaborar con nuestra ONG. Puedes hacer una donación monetaria, ofrecer tu tiempo como voluntario en nuestros programas y talleres, o ayudar difundiendo nuestro trabajo a través de las redes sociales y otras plataformas. ¡Todas las formas de apoyo son bienvenidas!</p>
        </div>
        <div class="column-50">
            <h6> ¿Dónde llevamos a cabo nuestros programas y talleres?</h6>
            <p class="preguntas">Implementamos nuestros programas y talleres en comunidades desfavorecidas, centros educativos locales, bibliotecas y otros accesibles para los participantes. Trabajamos en estrecha colaboración con las comunidades para identificar las necesidades y brindar los servicios donde más se requieren.</p>
        </div>
        <div class="column-50">
            <h6>¿Quiénes pueden participar en nuestros talleres?</h6>
            <p class="preguntas">Nuestros talleres están abiertos a personas de todas las edades y antecedentes. Nos esforzamos por llegar a estudiantes, adultos, mujeres, hombres y cualquier persona interesada en aprender sobre informática y mejorar sus habilidades digitales. No se requieren conocimientos previos, ya que nuestros talleres están diseñados para adaptarse a diferentes niveles de experiencia. </p>
        </div>
        <div class="column-50">
            <h6>¿Ofrecemos certificados o diplomas al finalizar los talleres?</h6>
            <p class="preguntas">Sí, otorgamos certificados de participación a los asistentes que completen nuestros talleres con éxito. Estos certificados pueden servir como reconocimiento de las habilidades adquiridas y pueden ser útiles para futuras oportunidades educativas o laborales.</p>
        </div>
        <div class="column-50">
            <h6>¿Cómo podemos contactar a la ONG?</h6>
            <p class="preguntas">Puedes ponerte en contacto con nosotros a través de nuestra página web, donde encontrarás un un teléfono de contacto y un correo electronico. Estaremos encantados de responder a tus preguntas y brindarte más información sobre nuestras actividades.</p>
        </div>
    </div>
</body>
<footer>
    <div class="row">
        <div class="column-50">
            <a href="../view/cat/pag/objectius.html"><img src="../img/cat.png" class="bandera" alt=""></a>
            <a href="../view/en/pag/Objectives.html"><img src="../img/uk.png" class="bandera" alt=""></a>
        </div>
        <div class="column-50-1">
            <div class="row">
                <div class="column-50">
                    <a href="" class="fot">Unete a nosotros</a>
                </div>
                <div class="column-50">
                    <a href="../pag/contacta.html" class="fot">Contactanos</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column-100">
            <p class="marge">© 2023 LPM.org. Todos los derechos reservados</p>
        </div>
    </div>
</footer>
</html>