<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../css/estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@300&display=swap" rel="stylesheet">
    <script defer src="../js/carrusel.js"></script>
    <link rel="icon" href="../../../img/logo.png">
    <title>Workshops</title>
</head>
<header>
    <nav>
        <nav>
            <a href="../../../view/en/en.html"><img src="../../../img/logo.png" width="70%" alt=""></a>
            <ul class="cont-ul">
                <li><a href="../../../view/en/en.html">Who are we?</li>
                <li><a href="../../../view/en/pag/Objectives.html">Objectives</a></li>
                <li class="develop">Workshops
                    <ul class="ul-second">
                        <li class="back"><a href="../../../view/en/pag/taller1.html">Security</li></a>
                        <li class="front"><a href="../../../view/en/pag/taller2.html">Introduction</li></a>
                    </ul>
                </li>
                <li class="develop">
                    Collaborators
                    <ul class="ul-second">
                        <li class="back"><a href="../../../view/en/pag/colabora1.html">Movistar</li></a>
                        <li class="front"><a href="../../../view/en/pag/colabora2.html">Asus</li></a>
                    </ul>
                </li>
                <li><a href="../../view/en/pag/preguntas.html">Frequently asked questions</li></a>
            </ul>
        </nav>
</header>
<body>
    <h5>Online security</h5>
    <hr>
    <div class="row">
        <div class="column-50">
            <p class="obj1">This workshop would focus on making participants aware of the importance of online security and providing them with the necessary tools and knowledge to protect their personal information and avoid threats on the Internet. Topics such as secure passwords, phishing, malware and privacy on social networks would be addressed.</p>
        </div>
        <div class="column-50">
            <img src="../../../img/taller2.png" class="talleres">
        </div>
    </div>
</body>
<footer>
    <div class="row">
        <div class="column-50">
            <a href="../../../view/cat/pag/taller1.html"><img src="../../../img/cat.png" class="bandera" alt=""></a>
            <a href="../../../pag/taller1.html"><img src="../../../img/esp.png" class="bandera" alt=""></a>
        </div>
        <div class="column-50-1">
            <div class="row">
                <div class="column-50">
                    <a href="../pag/add.html" class="fot">Join us</a>
                </div>
                <div class="column-50">
                    <a href="../../../view/en/pag/contacta.html" class="fot">Contact us</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column-100">
            <p class="marge">© 2023 LPM.org. All rights reserved</p>
        </div>
    </div>
</footer>
</html>