<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@300&display=swap" rel="stylesheet">
    <script defer src="../../js/carrusel.js"></script>
    <link rel="icon" href="../../img/logo.png">
    <title>LPM.org</title>
</head>
<header>
    <div class="row">
        <div class="emot1">
            <a href="cat.html"><img src="../../img/logo.png" alt="logo" width="70%" class="logo"></a>
        </div>
        <div class="navegacion1">
            <nav>
                <ul>
                    <li><a href=#quien>Qui som?</li></a>
                    <li><a href="pag/objectius.html">Objetius</li></a>
                    <li><a href="pag/talleres.html">Tallers</li></a>
                    <li><a href="pag/colabora.html">Col·labora</li></a>
                </ul>
            </nav>
        </div>
    </div>
</header>
<body>
    <h4>Els Portàtils Mensuals</h4>
    <div class="carousel">
        <div class="slider">
            <img src="../../img/img1.png" width="45%">
            <img src="../../img/img7.png" width="45%">
            <img src="../../img/img4.png" width="45%">
            <img src="../../img/img3.png" width="45%">
        </div>
        <div class="slide-nav">
            <button class="active"></button>
            <button></button>
            <button></button>
            <button></button>
        </div>
    </div>
    <div class="row">
        <div class="column-50">
            <h3 id="quien">Qui som?</h3>
            <p class="quien">Presentem la Fundació dels portàtils mensuals, una ONG que té com a finalitat proporcionar accés gratuït a la tecnologia ia l'educació digital a tothom, independentment dels seus recursos econòmics. La biblioteca oberta, és una mena de biblioteca virtual, on la gent pot venir i utilitzar els nostres portàtils i les nostres instal·lacions sense cap cost. Però, per tenir un control adequat dels usuaris i oferir avantatges exclusius als socis més assidus, ens hem establert com a societat sense ànim de lucre i oferim l'oportunitat de fer-se soci gratuïtament.</p>
            <p class="quien">Els socis registrats podran accedir a les nostres instal·lacions amb més freqüència i utilitzar els nostres recursos per a activitats educatives o de lleure. Creiem que la tecnologia i l'educació digital són eines essencials per a la inclusió social i la millora de la qualitat de vida de les persones, i estem dedicats a fer-ho possible per a tothom.</p> 
            <p class="quien">La fundació també ofereix diferents programes educatius i tallers per a la comunitat, per tal de fomentar l'alfabetització digital i ajudar les persones a desenvolupar les seves habilitats tecnològiques. Això inclou programes per a joves, adults i gent gran, així com programes especialitzats per a persones amb discapacitats o altres necessitats especials.</p>
            <p class="quien">A més de l'accés a la tecnologia i l'educació digital, la fundació també ofereix altres serveis i recursos a la comunitat. Això inclou la prestació de llibres, revistes i altres materials educatius i de referència, així com serveis de xarxa Wi-Fi gratuïts i altres recursos de tecnologia. També col·laborem amb altres organitzacions i institucions per proporcionar serveis i recursos addicionals a la comunitat.</p>
        </div>
        <div class="column-50">
            <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4154.9122543912845!2d2.1871851444880184!3d41.40331744724963!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4a323dbd5241d%3A0x95abc33040714e90!2sTorre%20Gl%C3%B2ries!5e1!3m2!1sca!2ses!4v1684864317344!5m2!1sca!2ses" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</body>
<footer>
    <div class="row">
        <div class="column-50">
            <a href="../../index.html"><img src="../../img/esp.png" class="bandera" alt=""></a>
            <a href="../../view/en/en.html"><img src="../../img/uk.png" class="bandera" alt=""></a>
        </div>
        <div class="column-50-1">
            <div class="row">
                <div class="column-50">
                    <a href="" class="fot">Uneix-te a nosaltres</a>
                </div>
                <div class="column-50">
                    <a href="" class="fot">Contacta'ns</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column-100">
            <p class="marge">© 2023 LPM.org. Tots els drets reservats</p>
        </div>
    </div>
</footer>
</html>