<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../css/estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@300&display=swap" rel="stylesheet">
    <script defer src="js/carrusel.js"></script>
    <link rel="icon" href="../../../img/logo.png">
    <title>Objectius</title>
</head>
<header>
    <nav>
        <a href="../../../view/cat/cat.html"><img src="../../../img/logo.png" width="70%" alt=""></a>
        <ul class="cont-ul">
            <li><a href="../../cat/cat.html"> Qui Som?</li>
            <li><a href="../../cat/pag/objectius.html">Objectius</a></li>
            <li class="develop">Tallers
                <ul class="ul-second">
                    <li class="back"><a href="../../../view/cat/pag/taller1.html">Seguretat</li></a>
                    <li class="front"><a href="../../../view/cat/pag/taller2.html">Introducció</li></a>
                </ul>
            </li>
            <li class="develop">
                Colaboradors 
                <ul class="ul-second">
                    <li class="back"><a href="../../../view/cat/pag/colabora1.html">Movistar</li></a>
                    <li class="front"><a href="../../../view/cat/pag/colabora2.html">Asus</li></a>
                </ul>
            </li>
            <li><a href="../../../view/cat/pag/preguntas.html">Preguntes Freqüents</li></a>
        </ul>
    </nav>
</header>
    <body>
        <h5>Objectius</h5>
    <hr>
        <div class="row">
            <div class="column-33">
                <h2>Accés gratuït a la tecnologia</h2>
                <p class="obj">Ens dediquem a proporcionar accés gratuït a la tecnologia i l'educació digital a totes les persones, sense importar-ne els recursos econòmics.</p>
                <h2>Programes educatius i tallers</h2>
                <p class="obj">Oferim una varietat de programes educatius i tallers destinats a fomentar l'alfabetització digital i ajudar les persones a desenvolupar les seves habilitats tecnològiques.</p>
            </div>
            <div class="column-33">
                <img src="../../../img/objetivos.png" class="fotobj" alt="">
            </div>
            <div class="column-33">
                <h2>Serveis i recursos addicionals</h2>
                <p class="obj">Proporcionem serveis i recursos addicionals a la comunitat: Llibres, revistes, serveis de xarxa Wi-Fi gratuïts i altres recursos tecnològics.</p>
                <h2>Compromís amb la inclusió digital</h2>
                <p class="obj">Ens basem a utilitzar la tecnologia i l'educació digital com a eines essencials per millorar la qualitat de vida de les persones.</p>
            </div>
        </div>
        
    </body> 
<footer>
    <div class="row">
        <div class="column-50">
            <a href="../../../pag/objetivos.html"><img src="../../../img/esp.png" class="bandera" alt=""></a>
            <a href="../../../view/en/pag/Objectives.html"><img src="../../../img/uk.png" class="bandera" alt=""></a>
        </div>
        <div class="column-50-1">
            <div class="row">
                <div class="column-50">
                    <a href="" class="fot">Uneix-te a nosaltres</a>
                </div>
                <div class="column-50">
                    <a href="../../../view/cat/pag/contacta.html" class="fot">Contacta'ns</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column-100">
            <p class="marge">© 2023 LPM.org. Tots els drets reservats</p>
        </div>
    </div>
</footer>
</html>