<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../css/estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@300&display=swap" rel="stylesheet">
    <script defer src="js/carrusel.js"></script>
    <link rel="icon" href="../../../img/logo.png">
    <title>Preguntes Freqüents</title>
</head>
<header>
    <nav>
        <a href="../../../view/cat/cat.html"><img src="../../../img/logo.png" width="70%" alt=""></a>
        <ul class="cont-ul">
            <li><a href="../../../cat/cat.html"> Qui Som?</li>
            <li><a href="../../../cat/pag/objectius.html">Objectius</a></li>
            <li class="develop">Tallers
                <ul class="ul-second">
                    <li class="back"><a href="../../../view/cat/pag/taller1.html">Seguretat</li></a>
                    <li class="front"><a href="../../../view/cat/pag/taller2.html">Introducció</li></a>
                </ul>
            </li>
            <li class="develop">
                Colaboradors 
                <ul class="ul-second">
                    <li class="back"><a href="../../../view/cat/pag/colabora1.html">Movistar</li></a>
                    <li class="front"><a href="../../../view/cat/pag/colabora2.html">Asus</li></a>
                </ul>
            </li>
            <li><a href="../../../view/cat/pag/preguntas.html">Preguntes Freqüents</li></a>
        </ul>
    </nav>
</header>
<body>
    <h5>Preguntes Freqüents</h5>
    <hr>
    <div class="row">
        <div class="column-50">
            <h6>Què fa la nostra ONG?</h6>
            <p class="preguntas">La nostra ONG es dedica a promoure l'educació i les prestacions d'informàtica entre comunitats desfavorides. Treballem per proporcionar accés a l'educació i les habilitats informàtiques necessàries per prosperar en l'era digital.</p>
        </div>
        <div class="column-50">
            <h6>Com puc col·laborar amb l'ONG?</h6>
            <p class="preguntas">Hi ha diverses maneres en les quals pots col·laborar amb la nostra ONG. Pots fer una donació monetària, oferir el teu temps com a voluntari en els nostres programes i tallers, o ajudar a difondre la nostra feina a través de les xarxes socials i altres plataformes. Totes les formes de suport són benvingudes!</p>
        </div>
        <div class="column-50">
            <h6>On portem a terme els nostres programes i tallers?</h6>
            <p class="preguntas">Implementem els nostres programes i tallers en comunitats desfavorides, centres educatius locals, biblioteques i altres llocs accessibles pels participants. Treballem en estreta col·laboració amb les comunitats per identificar les necessitats i proporcionar els serveis on més es necessiten.</p>
        </div>
        <div class="column-50">
            <h6>Qui pot participar en els nostres tallers?</h6>
            <p class="preguntas">Els nostres tallers estan oberts a persones de totes les edats i antecedents. Ens esforcem per arribar a estudiants, adults, dones, homes i qualsevol persona interessada a aprendre sobre informàtica i millorar les seves habilitats digitals. No es requereixen coneixements previs, ja que els nostres tallers estan dissenyats per adaptar-se a diferents nivells d'experiència.</p>
        </div>
        <div class="column-50">
            <h6>Oferim certificats o diplomes en finalitzar els tallers?</h6>
            <p class="preguntas">Sí, atorguem certificats de participació als assistents que completen els nostres tallers amb èxit. Aquests certificats poden servir com a reconeixement de les habilitats adquirides i poden ser útils per a futures oportunitats educatives o laborals.</p>
        </div>
        <div class="column-50">
            <h6>Com podem contactar amb l'ONG?</h6>
            <p class="preguntas">Pots posar-te en contacte amb nosaltres a través del nostre lloc web, on trobaràs un telèfon de contacte i un correu electrònic. Estarem encantats de respondre a les teves preguntes i proporcionar-te més informació sobre les nostres activitats.</p>
        </div>
    </div>
</body>
<footer>
    <div class="row">
        <div class="column-50">
            <a href="../../../pag/preguntas.html"><img src="../../../img/esp.png" class="bandera" alt=""></a>
            <a href="../../../view/en/pag/preguntas.html"><img src="../../../img/uk.png" class="bandera" alt=""></a>
        </div>
        <div class="column-50-1">
            <div class="row">
                <div class="column-50">
                    <a href="../../cat/pag/uneix-te.html" class="fot">Uneix-te a nosaltres</a>
                </div>
                <div class="column-50">
                    <a href="../../../view/cat/pag/contacta.html" class="fot">Contacta'ns</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column-100">
            <p class="marge">© 2023 LPM.org. Tots els drets reservats</p>
        </div>
    </div>
</footer>
</html>