<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../css/estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@300&display=swap" rel="stylesheet">
    <script defer src="../js/carrusel.js"></script>
    <link rel="icon" href="../../../img/logo.png">
    <title>Seguretat en línia</title>
</head>
<header>
    <nav>
        <a href="../../../view/cat/cat.html"><img src="../../..//img/logo.png" width="70%" alt=""></a>
        <ul class="cont-ul">
            <li><a href="../cat.html"> Qui Som?</li>
            <li><a href="../../../view/cat/pag/objectius.html">Objectius</a></li>
            <li class="develop">Tallers
                <ul class="ul-second">
                    <li class="back"><a href="../../../view/cat/pag/taller1.html">Seguretat</li></a>
                    <li class="front"><a href="../../../view/cat/pag/taller2.html">Introducció</li></a>
                </ul>
            </li>
            <li class="develop">
                Colaboradors 
                <ul class="ul-second">
                    <li class="back"><a href="../../../view/cat/pag/colabora1.html">Movistar</li></a>
                    <li class="front"><a href="../../../view/cat/pag/colabora2.html">Asus</li></a>
                </ul>
            </li>
            <li><a href="../../../view/cat/pag/preguntas.html">Preguntes freqüentes</li></a>
            </ul>
        </ul>
    </nav>
</header>
<body>
    <h5>Seguretat en línia</h5>
    <hr>
    <div class="row">
        <div class="column-50">
            <p class="obj1">Aquest taller s'enfocaria a conscienciar els participants sobre la importància de la seguretat en línia i proporcionar-los les eines i els coneixements necessaris per protegir la seva informació personal i evitar amenaces a Internet. S'abordarien temes com contrasenyes segures, phishing, malware i privadesa a les xarxes socials.</p>
        </div>
        <div class="column-50">
            <img src="../../../img/taller2.png" class="talleres">
        </div>
    </div>
</body>
<footer>
    <div class="row">
        <div class="column-50">
            <a href="../../../pag/taller1.html"><img src="../../../img/esp.png" class="bandera" alt=""></a>
            <a href="../../../view/en/pag/taller1.html"><img src="../../../img/uk.png" class="bandera" alt=""></a>
        </div>
        <div class="column-50-1">
            <div class="row">
                <div class="column-50">
                    <a href="" class="fot">Uneix-te a nosaltres</a>
                </div>
                <div class="column-50">
                    <a href="../pag/contacta.html" class="fot">Contacta'ns</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column-100">
            <p class="marge">© 2023 LPM.org. Tots els drets reservats</p>
        </div>
    </div>
</footer>
</html>