<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../css/estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@300&display=swap" rel="stylesheet">
    <script defer src="../js/carrusel.js"></script>
    <link rel="icon" href="../../../img/logo.png">
            <script>
                // Función para validar el formulario antes de enviarlo
                function validarFormulario() {
                  var nombre = document.getElementById("nombre").value;
                  var edad = document.getElementById("edad").value;
                  var dni = document.getElementById("dni").value;
                  var email = document.getElementById("email").value;
                  var curriculum = document.getElementById("curriculum").value;
            
                  // Validar nombre: solo letras y espacios
                  var regexNombre = /^[a-zA-Z\s]+$/;
                  if (!nombre.match(regexNombre)) {
                    alert("Por favor, ingresa un nombre válido.");
                    return false;
                  }
            
                  // Validar edad: número entero mayor que cero
                  if (isNaN(edad) || parseInt(edad) <= 0) {
                    alert("Por favor, ingresa una edad válida.");
                    return false;
                  }
            
                  // Validar DNI: número de 8 dígitos
                  var regexDNI = /^\d{8}$/;
                  if (!dni.match(regexDNI)) {
                    alert("Por favor, ingresa un DNI válido (8 dígitos).");
                    return false;
                  }
            
                  // Validar email: formato de email válido
                  var regexEmail = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                  if (!email.match(regexEmail)) {
                    alert("Por favor, ingresa un correo electrónico válido.");
                    return false;
                  }
            
                  // Validar currículum: verificar si se ha cargado un archivo
                  if (curriculum === "") {
                    alert("Por favor, sube tu currículum.");
                    return false;
                  }
            
                  
                }
                // Función para restablecer el formulario después de enviarlo
                function resetFormulario() {
                document.getElementById("formulario").reset();
                }
            </script>
    <title>Introducció a la informàtica</title>
</head>
<header>
    <nav>
        <a href="../../cat/cat.html"><img src="../../../img/logo.png" width="70%" alt=""></a>
        <ul class="cont-ul">
            <li><a href="../cat.html"> Qui Som?</li>
            <li><a href="../view/cat/pag/objectius.html">Objectius</a></li>
            <li class="develop">Tallers
                <ul class="ul-second">
                    <li class="back"><a href="../pag/taller1.html">Seguretat</li></a>
                    <li class="front"><a href="../pag/taller2.html">Introducció</li></a>
                </ul>
            </li>
            <li class="develop">
                Colaboradors 
                <ul class="ul-second">
                    <li class="back"><a href="../pag/colabora1.html">Movistar</li></a>
                    <li class="front"><a href="../pag/colabora2.html">Asus</li></a>
                </ul>
            </li>
            <li><a href="/../view/cat/pag/preguntas.html">Preguntes freqüentes</li></a>
            </ul>
        </ul>
    </nav>
</header>
<body>
    <h5>Uneix-te a nosaltres</h5>
    <hr>
    <br>
    <div class="row">
        <div class="column-33-2">
            <p></p>
        </div>
        <div class="column-33-2">
            <div class="form-container">
                <h6>Formulari de sol·licitud d'ocupació</h6>
                <form action="" method="POST" onsubmit="return validarFormulario()" enctype="multipart/form-data">
                  <label for="nombre">Nom:</label>
                  <input type="text" id="nombre" name="nombre" required>
                  <label for="edad">Edat:</label>
                  <input type="number" id="edad" name="edad" required>
                  <label for="dni">DNI:</label>
                  <input type="text" id="dni" name="dni" required>
                  <label for="email">Correu Electrònic:</label>
                  <input type="email" id="email" name="email" required>
                  <label for="curriculum">Currículum:</label>
                  <input type="file" id="curriculum" name="curriculum" accept=".pdf,.doc,.docx" required>
                  <input type="submit" value="Enviar" onclick="resetFormulario()">
                </form>
            </div>
        </div>
        <div class="column-33-2">
            <p></p>
        </div>
    </div>
</body>
<br>
<footer>
    <div class="row">
        <div class="column-50">
            <a href="../../../pag/uneteanosotros.html"><img src="../../../img/esp.png" class="bandera" alt=""></a>
            <a href="../../en/pag/add.html"><img src="../../../img/uk.png" class="bandera" alt=""></a>
        </div>
        <div class="column-50-1">
            <div class="row">
                <div class="column-50">
                    <a href="uneix-te.html" class="fot">Uneix-te a nosaltres</a>
                </div>
                <div class="column-50">
                    <a href="../pag/contacta.html" class="fot">Contacta'ns</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column-100">
            <p class="marge">© 2023 LPM.org. Tots els drets reservats</p>
        </div>
    </div>
</footer>
</html>